body{
    background-color: black;
    display:flex;
    justify-content: center;
  
    align-items: center;
    
    height:100vh ;
    width:100vw;
}

*{
    padding: 0;
    margin: 0;
}

.flex{
    padding: 10px;
    background: none;
    width:12vw;
    height: 7vh;;
    font: 1rem cursive;
    color:lightgreen;
    border:0.1rem solid #9ef01a;
}

.flex:hover{
    color:#ff7900;
    border: 0.1rem solid #ff9e00;
    transform: translateY(-10px);
    transition: ease-out .2s;
    box-shadow: 1px 10px 13px -10px #ff9e00;

}
